body{
	
 
 background: url(../01.jpg) no-repeat ;	
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
display: flex;
padding-top: 100px;
background-size: 250vh;
}


form{
	display: flex;
	background: #79C753;
	margin: 0 auto;
	align-self: center;
	height: 100px;
	opacity: 0.7;
	width: 500px;
	justify-content: center;
	width: 70%;
	height: auto;
	
}

fieldset{
	padding-top: -10;
	border: none;

}

legend{
	font-family: sans-serif;
	font-weight: bold;
	color: white;
	font-size: 25px;
}


.search{

	width: 60%;
}

button{
width: 100px;
background-color:green ;
opacity: 1.5;
height: 30px;
color: white;
font-weight: bolder;
font-size:20px;
	
}


@media only screen and (min-width: 601spx) {
    
   form{
   	min-width: 700px;
   }
    
    
    
    }


    @media only screen and (max-width: 600px) {
    
   form{


   	min-width: 200px;
   }
    
    
    
    }

